@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TEIA<br />
    CDMX, Alvaro Obregon<br />
    <abbr title="Phone"> Phone:</abbr>
    56-11-14-35-49
</address>

<address>
    <strong>Email: </strong>   <a href="mailto:eduardo.figueroa@teia.mx">eduardo.figueroa@teia.mx</a><br />
    
</address>